body {
    font-size: 16px;
    background: #2b3e51;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

a {
    color: rgba(108, 190, 245, 0.5);
    text-decoration: none;
}

a:hover {
    color: #6cbef5;
    text-decoration: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.container {
    margin: 50px auto;
    min-height: 400px;
    width: 640px;
    position:relative;
    border:1px solid #6cbef5;
}

#input {
    position:relative;
    float:left;
}

.intro {
    padding: 10px 20px;
}

.output {
    padding: 10px 20px;

}

.console {
    overflow:hidden;
    padding: 10px 20px;
}

.white{
    color: #fefefe;
}

.green {
    color: #2eec74;
}

.blue{
    color: #6cbef5;
}

.line {
    line-height: 32px;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.align-center {
    text-align: center;
}
